<form class="new_timetable_user_input" id="new_timetable_user_input_journey"
      accept-charset="UTF-8" >
    <div class="search__item search__item--journey--dep">
        <!--<input id="itemJourneyDep" class="search__input timetable_user_input_journey_dep"-->
               <!--name="timetable_user_input_journey[dep]"-->
               <!--type="text"-->
               <!--data-live-search="true"-->
               <!--placeholder="Von (Stadt oder Haltestelle)">-->
        <select class="search__input timetable_user_input_journey_dep" id="itemJourneyDep">
            {{#each states}}
                <option id="itemJourneyDep1Opt" value="">Von (Stadt oder Haltestelle)</option>
                <option value="{{origid}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="search__item search__item--journey--arr">
        <!--<input id="itemJourneyArr" class="search__input timetable_user_input_journey_arr"-->
               <!--name="timetable_user_input_journey[arr]"-->
               <!--type="text"-->
               <!--placeholder="Nach (Stadt oder Haltestelle)">-->
        <select class="search__input timetable_user_input_journey_dep" id="itemJourneyArr">
            {{#each states}}
                <option id="itemJourneyArr1Opt" value="">Nach (Stadt oder Haltestelle)</option>
                <option value="{{origid}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="search__item search__item--journey--date">
        <span class="label">Datum</span>
        <input class="search__input datepicker timetable_user_input_journey_date"
               name="timetable_user_input_journey[date]"
               type="text" placeholder="Datum"
               readonly="readonly">
    </div>
    <div class="search__item search__item--journey--time">
        <span class="label">Zeit</span>
        <input class="search__input timetable_user_input_journey_time"
               name="timetable_user_input_journey[time]"
               type="time" placeholder="Zeit">
    </div>
    <div class="search__item search__item--journey--submit hidden-xs">
        <button name="commit" class="search__button" type="button" id="searchSubmit">
            Suche
        </button>
    </div>
    <div class="search__item search__item--trans--mode search--trans--mode visible-xs">
        <div class="col-xs-6 trans--mode--area padding--left--right--0--trans--mode">
            <span class="trans--mode--icon--1"></span>
            <span class="trans--mode--checkbox"></span>
            <span class="trans--mode--text">Zug</span>
        </div>
        <div class="col-xs-6 trans--mode--area padding--left--right--0--trans--mode">
            <span class="trans--mode--icon--2"></span>
            <span class="trans--mode--checkbox"></span>
            <span class="trans--mode--text">Fernbus</span>
        </div>
    </div>
    <div class="search__item search__item--passopt--btn" id="passoptBtn">
      <span class="passopt--btn--icon"></span>
      <div class="col-xs-8 passopt--btn--person--count">
        <b><span>{{passengerCount}}<span></span> Person, ohne BahnCard</span></b>
      </div>
      <div class="col-xs-4">
        <span class="passopt--change--btn">Ändern</span>
      </div>
    </div>
    <div class="search__item search__item--trans--mode hidden-xs">
      <div class="col-xs-6 trans--mode--area padding--left--right--0--trans--mode">
          <span class="trans--mode--icon--1"></span>
          <span class="trans--mode--checkbox"></span>
          <span class="trans--mode--text">Zug</span>
      </div>
      <div class="col-xs-6 trans--mode--area padding--left--right--0--trans--mode">
          <span class="trans--mode--icon--2"></span>
          <span class="trans--mode--checkbox"></span>
          <span class="trans--mode--text">Fernbus</span>
      </div>
    </div>
    <div class="search__item search__item--passenger--options" style="display: none" id="passengerOption">
      <div class="form-group">
          <div class="passenger_option">
              <div class="search--passenger col-sm-12 col-xs-12">
                  <div class="age--col col-sm-3 col-xs-12">
                      <div class="inputcontainer col-sm-12 col-xs-3 age--input--group">
                          <label for="">Alter</label>
                          <input maxlength="3" size="4" type="number" value="34" name="" id="">
                      </div>
                  </div>
                  <div class="col-sm-8 col-xs-11 bahncard-area">
                      <div class="inputcontainer col-sm-12 col-xs-12 bahncard--group">
                          <label for="">Bahncard</label>
                          <select class="passenger--select passenger--discount--card--select" name="" id="">
                              <option value="">Keine</option>
                              <option value="">BahnCard 25, 1. Klasse</option>
                              <option value="">BahnCard 25, 2. Klasse</option>
                              <option value="">BahnCard 50, 1. Klasse</option>
                              <option value="">BahnCard 50, 2. Klasse</option>
                          </select>
                      </div>
                  </div>
                  <div class="passenger--options--divider visible-xs col-xs-12"></div>
              </div>
          </div>
          <div class="passenger_option elem" style="display: none" id="newPassenger1">
              <div class="search--passenger col-sm-12 col-xs-12">
                  <div class="age--col col-sm-3 col-xs-12">
                      <div class="inputcontainer col-sm-12 col-xs-3 age--input--group">
                          <label for="">Alter</label>
                          <input maxlength="3" size="4" type="number" value="34" name="" id="">
                      </div>
                  </div>
                  <div class="col-sm-8 col-xs-11 bahncard-area">
                      <div class="inputcontainer col-sm-12 col-xs-12 bahncard--group">
                          <label for="">Bahncard</label>
                          <select class="passenger--select passenger--discount--card--select" name="" id="">
                              <option value="">Keine</option>
                              <option value="">BahnCard 25, 1. Klasse</option>
                              <option value="">BahnCard 25, 2. Klasse</option>
                              <option value="">BahnCard 50, 1. Klasse</option>
                              <option value="">BahnCard 50, 2. Klasse</option>
                          </select>
                      </div>
                  </div>
                  <div class="passenger_remove_btn_container col-xs-1 col-sm-1">
                      <button class="passenger_remove_btn" id="newPassengerButton1" type="button"></button>
                  </div>
                  <div class="passenger--options--divider visible-xs col-xs-12"></div>
              </div>
          </div>
          <div class="passenger_option elem" style="display: none" id="newPassenger2">
              <div class="search--passenger col-sm-12 col-xs-12">
                  <div class="age--col col-sm-3 col-xs-12">
                      <div class="inputcontainer col-sm-12 col-xs-3 age--input--group">
                          <label for="">Alter</label>
                          <input maxlength="3" size="4" type="number" value="34" name="" id="">
                      </div>
                  </div>
                  <div class="col-sm-8 col-xs-11 bahncard-area">
                      <div class="inputcontainer col-sm-12 col-xs-12 bahncard--group">
                          <label for="">Bahncard</label>
                          <select class="passenger--select passenger--discount--card--select" name="" id="">
                              <option value="">Keine</option>
                              <option value="">BahnCard 25, 1. Klasse</option>
                              <option value="">BahnCard 25, 2. Klasse</option>
                              <option value="">BahnCard 50, 1. Klasse</option>
                              <option value="">BahnCard 50, 2. Klasse</option>
                          </select>
                      </div>
                  </div>
                  <div class="passenger_remove_btn_container col-xs-1 col-sm-1">
                      <button class="passenger_remove_btn" id="newPassengerButton2" type="button"></button>
                  </div>
                  <div class="passenger--options--divider visible-xs col-xs-12"></div>
              </div>
          </div>
          <div class="passenger_option elem" style="display: none" id="newPassenger3">
              <div class="search--passenger col-sm-12 col-xs-12">
                  <div class="age--col col-sm-3 col-xs-12">
                      <div class="inputcontainer col-sm-12 col-xs-3 age--input--group">
                          <label for="">Alter</label>
                          <input maxlength="3" size="4" type="number" value="34" name="" id="">
                      </div>
                  </div>
                  <div class="col-sm-8 col-xs-11 bahncard-area">
                      <div class="inputcontainer col-sm-12 col-xs-12 bahncard--group">
                          <label for="">Bahncard</label>
                          <select class="passenger--select passenger--discount--card--select" name="" id="">
                              <option value="">Keine</option>
                              <option value="">BahnCard 25, 1. Klasse</option>
                              <option value="">BahnCard 25, 2. Klasse</option>
                              <option value="">BahnCard 50, 1. Klasse</option>
                              <option value="">BahnCard 50, 2. Klasse</option>
                          </select>
                      </div>
                  </div>
                  <div class="passenger_remove_btn_container col-xs-1 col-sm-1">
                      <button class="passenger_remove_btn" id="newPassengerButton3" type="button"></button>
                  </div>
                  <div class="passenger--options--divider visible-xs col-xs-12"></div>
              </div>
          </div>
          <div class="passenger_option elem" style="display: none" id="newPassenger4">
              <div class="search--passenger col-sm-12 col-xs-12">
                  <div class="age--col col-sm-3 col-xs-12">
                      <div class="inputcontainer col-sm-12 col-xs-3 age--input--group">
                          <label for="">Alter</label>
                          <input maxlength="3" size="4" type="number" value="34" name="" id="">
                      </div>
                  </div>
                  <div class="col-sm-8 col-xs-11 bahncard-area">
                      <div class="inputcontainer col-sm-12 col-xs-12 bahncard--group">
                          <label for="">Bahncard</label>
                          <select class="passenger--select passenger--discount--card--select" name="" id="">
                              <option value="">Keine</option>
                              <option value="">BahnCard 25, 1. Klasse</option>
                              <option value="">BahnCard 25, 2. Klasse</option>
                              <option value="">BahnCard 50, 1. Klasse</option>
                              <option value="">BahnCard 50, 2. Klasse</option>
                          </select>
                      </div>
                  </div>
                  <div class="passenger_remove_btn_container col-xs-1 col-sm-1">
                      <button class="passenger_remove_btn" id="newPassengerButton4" type="button"></button>
                  </div>
              </div>
          </div>
          <div class="passenger--add--btn">
              <button class="btn btn-more-passengers" type="button">Weitere Passagiere hinzufügen</button>
          </div>
      </div>
    </div>
    <div class="search__item search__item--journey--submit visible-xs">
        <button name="commit" class="search__button" onclick="searchSubmit()">
            Suche
        </button>
    </div>
</form>
